.base-about-page {
  padding: 30px 25px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.about-page {
  .about-page-container {
    @extend .base-about-page;
    margin-top: 25px;
    margin-bottom: 25px;

    .head-img-container {
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: cover;
    }
  }

  .body-text-container {
    @extend .base-about-page;
    margin-right: 5px;
    font-family: "Roboto", sans-serif;

    h4 {
      text-align: center;
      text-decoration: underline;
    }

    p {
      text-align: justify;
      font-size: 16px;
      line-height: 1.6;
      margin-top: 30px;
    }
  }

  .services-body {
    @extend .base-about-page;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;

    h4 {
      text-align: center;
      text-decoration: underline;
    }

    ul {
      padding: 20px 10px;
      text-align: justify;

      li {
        font-size: 16px;
        padding: 5px 0 5px;
        list-style-type: square;
      }
    }
  }
}
