.chiefs-page-container {
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 10px;
    margin: 30px 0;

    h4 {
        margin-bottom: 10px;
    }

    img {
        margin: 0 10px 10px 0;
        max-height: 250px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        text-align: justify;
        padding: 0;
        margin: 0;
    }
}