.elected-officials-container {
  padding: 50px 0;

  .offical-bio {
    padding: 25px 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    img.left,
    img.right {
      max-height: 200px;
      border-radius: 5px;
    }

    img.left {
      margin-right: 15px;
    }
    img.right {
      margin-left: 15px;
    }
    p {
      font-family: "Roboto", sans-serif;
      text-align: justify;
    }
    h4.left {
      text-align: left;
    }
    h4.right {
      text-align: right;
    }
  }
}
