.header-container {
  background-color: maroon;

  .navbar-toggler-icon {
    svg {
      fill: #fff;
    }
  }

  .navbar-brand {
    text-align: left;

    .brand-text {
      display: inline-flex;
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.2em;
      margin-left: 0.5em;
      color: #fff;
      vertical-align: middle;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .navbar-nav {
    padding-right: 150px;

    .nav-link {
      color: rgba(255, 255, 255, 0.6) !important;
      font-size: 1.1rem;
      font-weight: 600;

      &:hover,
      &.active {
        color: rgba(255, 255, 255, 1) !important;
        text-decoration: none;
      }
    }
  }
}
.header-alert {
  margin-bottom: 0;
  text-align: center;
}