.footer-container {
    background-color: #1a1a1a;
    color: #f1f1f1;
    font-weight: 800;

    .phone {
        font-weight: 300;
    }

    .footer-title, .footer-address, .footer-phone {
        margin: 25px 0;
    }

    .copyright {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 10px;
        padding: 0 15px;
    }

    .creator {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 10px;
        padding: 0 15px;
        text-align: right;
    }
}