@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}